@import '../../App.scss';

.About {
	display: flex;
	flex-direction: column;
	&__title {
	  text-align: justify;
	}
	&__image {
	  align-self: center;
	}
	&__text {
	  margin-top: 50px;
	  text-align: justify;
	}
}