@import '../../App.scss';

.About {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__title {
	  text-align: justify;
	  margin-bottom: 2vh;
	  line-height: 1.8;
	}
	&__image {
	  align-self: center;
	  height: 45vh; 
	}
	&__text {
	  margin-top: 50px;
	  text-align: justify;
	  line-height: 2;
	}
	&__link {
	  display: flex;
	  justify-content: center;
	  width: 10vw;
	  background: #FFCD2E;
	  text-align: center;
	  font-size: 20px;
	  border-radius: 15px;
	  padding: 10px;
	  margin-top: 4vh;
	}
}