@import '../../App.scss';

.Home {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	&__title {
	  text-align: center;
	}
	&__text {
	margin-top: 50px;
	}
	&__catch-text {
	margin-top: 50px;
	font-size: 30px;
	text-align: center;
	}
	&__cta-button {
	margin-top: 20px;
	height: 100px;
	width: 100px;
	border-radius: 40%;
	}
}

.logoImage {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
  }

  @-moz-keyframes spin {
    0% {
      -moz-transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }