@import '../../App.scss';

.Home {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
  &__webdev {
    width: 100%;
  }
  &__promise {
    background: #FDB9B9;
    &__text {
      margin: 5vh;
      margin-top: 2vh;
      margin-bottom: 7vh;
      font-size: 27px;
      text-align: justify;
    }
  }
  &__bloc {
    padding: 10vh;
    &__title {
      position: absolute;
      top: 20vh;
      font-size: 25px;
    }
    &__catch-group {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      &__text {
        margin: 2vh;
        width: 20vh;
        height: 20vh;
        background: #FFCD2E;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 25px;
      }
      &__text.Dark {
        background: #1F2245;
      }
    }
    &__text {
      margin-top: 3vh;
      font-size: 25px;
      text-align: justify;
    }
  }
	&__catch-text {
	margin-top: 50px;
	font-size: 30px;
	text-align: center;
	}
	&__cta-button {
	margin-top: 20px;
	height: 50px;
	width: 100px;
	border-radius: 55px;
	}
}
.Home__promise.Dark {
    background: #FFCD2E;
    color: black;
}
  